{{ if .Site.Data.portfolio.enable}}
{{"<!-- Portfolio Section -->" | safeHTML}}
<section class="portfolio section" id="portfolio">
    <div class="container">
        <div class="row ">
            <div class="col-xl-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center">
                    <h2> {{ with .Site.Data.portfolio.heading }} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.portfolio.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
                {{"<!-- /section title -->" | safeHTML}}
            </div>
        </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href='http://www.redeabe.org.br/site/'  target="_blank" ><img class="partner-box" src="images/portfolio/abe2.jpg"></a>
                </div> 
                <div class="col-sm-3">
                    <a href='http://www.marketdata.com.br/' target="_blank" ><img class="partner-box" src="images/portfolio/logo_Market.jpg"></a>
                </div>    
				<div class="col-sm-3">
                    <a href='http://www.ime.usp.br/~imejr' target="_blank" ><img class="partner-box" src="images/portfolio/logo_IMEJR.jpg"></a>
                </div>
            
                <div class="col-sm-3">
		    <a href='https://www.conre3.org.br/'  target="_blank" ><img class="partner-box" 
		    src="images/portfolio/conre.jpg"></a>
                </div>  
			</div>
			<br/>
			<div class="row"> 
				      <div class="col-sm-3">
                    <a  href='https://www.ime.usp.br/'  target="_blank"></a><img class="partner-box" src="images/portfolio/imeusp2.jpg"></a>
                </div>
			       <div class="col-sm-3">
                    <a href='https://www.boavistaservicos.com.br'  target="_blank" ><img class="partner-box" src="images/portfolio/logo_BoaVista.jpg"></a>
                </div> 

				<div class="col-sm-3">
                    <a  href='https://www.curso-r.com'  target="_blank" ><img class="partner-box" src="images/portfolio/cursor.jpg" ></a>
                </div>
				
				<div class="col-sm-3">
                    <a  href='http://datarisk.io/'  target="_blank" ><img class="partner-box" src="images/portfolio/logo_DataRisk.jpg" ></a>
                </div>

            </div>   
		</div>
    </div>
</section>
{{"<!-- /Portfolio -->" | safeHTML}}
{{ end }}