{{ if .Site.Data.service.enable}}
{{"<!-- service -->" | safeHTML }}
<section id="services" class="bg-one section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML }}
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.service.heading }} {{ . }} {{ end }}<span class="color">{{ with .Site.Data.service.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML }}

            {{ range .Site.Data.service.serviceItem}}
            {{"<!-- Single Service Item -->" | safeHTML }}
            <article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="{{ .icon }}"></i>
                    </div>
                    <h3>{{ .title }}</h3>
                    <p><b><span class="color  ">{{ .hour }}</span> <br>{{ .speaker }}</b></br>{{ .content }}</p>
                    <p><b><span class="color">{{ .hour2 }}</span> <br>{{ .speaker2 }}</b></br>{{ .content2 }}</p>
                    <p><b><span class="color">{{ .hour3 }}</span> <br>{{ .speaker3 }}</b></br>{{ .content3 }}</p>
                    <p><b><span class="color">{{ .hour4 }}</span> <br>{{ .speaker4 }}</b></br>{{ .content4 }}</p>
                    <p><b><span class="color">{{ .hour5 }}</span> <br>{{ .speaker5 }}</b></br>{{ .content5 }}</p>
                    </p><b><span class="color">{{ .hour6 }}</span> <br>{{ .speaker6 }}</b></br>{{ .content6 }}</p>
                </div>
            </article>
            {{"<!-- End Single Service Item -->" | safeHTML }}
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}